.advantages {
  border: 1px solid #ffffff;
  min-height: 569px;
}

.title {
  font-size: 40px;
  font-weight: 500;
  color: #383838;
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.highlight {
  background: #f5bd41;
  width: 100px;
  min-height: 4px;
  margin: 0 auto;
}

.blocks {
  margin-top: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.block {
  height: 176px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-advantages {
  font-size: 24px;
  color: #383838;
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 48px;
}

@media screen and (max-width: 500px) {
  .advantages.container {
    padding-left: 0;
    padding-right: 0;
  }

  .advantages {
    margin: 0;
    width: 100vw;
    height: 641px;
    border: 0;
  }

  .title {
    font-size: 28px;
    margin: 24px 73px 0;
    font-weight: 500;
  }

  .block {
    width: 214px;
    height: 104px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
  }

  .highlight {
    display: none;
  }

  .icon {
    width: 70px;
    height: 70px;
  }

  .text-advantages {
    font-size: 18px;
    margin-top: 16px;
  }

  .blocks {
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
