.advantages{
    border:1px solid #ffffff;
    min-height: 569px;
}

.title{
    font-size: 40px;
    color: #383838;
    margin:120px 567px 0;
}

.highlight{
    background: #F5BD41;
    width: 100px;
    min-height: 4px;
    margin:20px 670px 0;
}

.blocks{
    margin:84px 206px 0 214px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.block{
    display: flex;
    align-items: center;
    flex-direction: column;
}

span{
    font-size: 24px;
}