body {
  margin: 0;
  background: #ffffff;
}

.advantages {
  border: 1px solid #ffffff;
  min-height: 569px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  color: #383838;
  margin: 120px 565px 0;
}

.highlight {
  background: #f5bd41;
  width: 100px;
  min-height: 4px;
  margin: 20px 670px 0;
}

.blocks {
  margin: 84px 206px 0 214px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-advantages {
  margin-top: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #383838;
}
