@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-500.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
body {
  margin: 0;
}
.advantages {
  border: 1px solid #ffffff;
  min-height: 569px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  color: #383838;
  margin: 120px 565px 0;
}

.highlight {
  background: #f5bd41;
  width: 100px;
  min-height: 4px;
  margin: 20px 670px 0;
}

.blocks {
  margin: 84px 206px 0 214px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #383838;
}
