.container {
  padding: 0 104px 0 104px;
}

body {
  margin: 0;
  height: 100vh;
  min-width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

header {
  background-image: url("../images/castelmezzano.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 46px;
  padding-top: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.roboto-400 {
  color: #ffffff;
}

.title-header {
  font-size: 24px;
  margin-bottom: 12px;
}

.logo_sett {
  margin-right: 24px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.words {
  margin-right: 48px;
}

.words a {
  text-decoration: none;
  padding: 12px;
}

.words a:hover {
  border-bottom: 4px solid #f5bd41;
}

.page {
  margin-top: 196px;
}

.main-title {
  font-weight: 500;
  font-size: 50px;
  color: white;
}

.title-page {
  font-size: 18px;
}

.signatures {
  margin-top: 100px;
  margin-left: 24px;
  margin-bottom: 24px;
}

.sign {
  margin-right: 221px;
}

.search {
  height: 64px;
  margin-bottom: 120px;
  background-color: #f3f3f4;
  padding: 3px 0 3px 3px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

input[type="text"] {
  height: 98%;
  border: none;
}

#destination {
  border-radius: 8px;
  width: 30%;
}

#consist {
  border-radius: 8px;
  width: 27%;
}

#date {
  height: 96%;
  width: 23%;
  border-radius: 8px;
}

.value {
  font-size: 18px;
  color: #383838;
  padding-left: 24px;
}

input.value:focus {
  outline: none;
  border: 3px solid #f5bd41;
}

button {
  height: 110%;
  width: 15%;
  border: none;
  border-radius: 8px;
  background: #3077c6;
  color: white;
}

.btn {
  font-size: 24px;
  font-weight: 500;
}

.apps {
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}

.google-logo {
  margin-right: 16px;
}

.sett_icon {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}

.acc_icon {
  width: 40px;
  height: 40px;
  fill: #ffffff;
}

.menu_icon {
  display: none;
}

.logo_sett svg:hover {
  fill: #f5bd41;
}

.logo_acc svg:hover {
  fill: #f5bd41;
}

@media only screen and (max-width: 700px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  .container {
    padding: 0 12px;
  }

  .title-header {
    display: none;
  }

  .main-title {
    font-size: 30px;
  }

  .title-page {
    display: none;
  }

  .value {
    font-size: 15px;
    padding-left: 24px;
  }

  .btn {
    font-size: 19px;
  }

  .page {
    margin-top: 52px;
  }

  .logo_acc {
    margin-right: 16px;
  }

  .menu_icon {
    display: flex;
    width: 24px;
    height: 16px;
    fill: #ffffff;
  }

  .menu_icon svg:hover {
    fill: #f5bd41;
  }
}
